
#footer {
  padding: 4em 0;
  text-align: center;
  background: #24282D;
  color: $white;

  a.arrow {
     font-weight: 500;

      &:hover {
        text-decoration: none;
      }
  }

  @media screen and (min-width: $screen-sm-min) {
    text-align: left;

    .button-footer {
        text-align: right;
    }
  }

  .navbar-brand {
    float: none;
    text-align: center;

    img {
      margin: 0;
    }
  }

  span {
    color: $sherpa-brand-primary;
  }

  


  @media screen and (max-width: $grid-float-breakpoint-max) {
    
    p {
      padding-left: 20px;
      padding-right: 20px;
    }

    ul {
      margin: 20px auto;
      overflow: auto;
      width: auto;
      display: inline-block;
    }

    .hours-footer, .contact-footer, .logo-footer, .button-footer {
      text-align: center;
      width: auto;
    }

    a.arrow {
      margin-bottom: 2em;
     
    }

    .button-footer {
      .btn-border {
        font-size: 11px;
        padding: 24px 17px;
      }
    }
  }

  .menu-primary-container {
    margin: 0 auto;
  }

  p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.75;
  }

  ul {
    padding-left: 0;
  }

  ul li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: #fff;
  }

  a.btn {
    &:hover {
      background: $sherpa-brand-primary;
      border-color: $sherpa-brand-primary;
    }
  }

  .full-height {
    margin-bottom: 4em;
  }

  .menu {
    padding-left: 0;
    list-style: none;

    > li a {
      color: #ffffff;
    }
  }

  .navbar-brand {
    float: none;
    text-align: center;

    img {
      width: auto;
      height: 127px;
      margin-top: -6px;
    }
  }

  .navbar-sherpa .navbar-nav > li > a {
    color: #7D8082;
  }

  #menu-menu-footer {
    margin: 0 auto;
  }

  .menu-footer-container,
  .menu-menu-footer-container {
    text-align: center;
    display: flex;
    flex: 1;

    #menu-footer,
    #menu-footer-spanish {
      margin: 0 auto;
      display: inline-block;
      float: none;
    }
  }

  .container {
    display: flex;
    flex-direction: column;

    .row:first-child {
      flex: 1;
    }
  }

  span.title {
    margin: 1em;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .social-media-button {
    color: #d2ac4e;
  }

  @media screen and (min-width: $screen-md-min) {
    text-align: left;

    .contact-footer, .hours-footer {
      display: flex;
      justify-content: center;
    }

    span.title {
      margin: 0 0 0.5em;
      display: block;
      font-size: 18px;
      color: $sherpa-brand-primary;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    span.title {
      font-size: 11px;
      margin-bottom: 0;
      color: $sherpa-brand-primary;
    }

    .social-container {
      text-align: center;
    }

    p {
      font-size: 11px;
      line-height: 1.75;
      font-weight: 300;
      margin-bottom: 2em;
    }
  }

  .footer-bottom {
    color: #fff;
    padding: 1.5em 0;
    margin-top: 4em;

    ul li {
      text-transform: uppercase;
    }

    .btn {
      padding: 1em 3.2em;
    }

    .separate {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar.navbar-sherpa {
      display: flex;
      align-items: center;
    }
  }
}


.footer-nav {
  background: #0D273F;
  color: #fff;

  .navbar-sherpa {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar-sherpa .navbar-nav > li > a {
    color: $white;
    font-weight: 300;

    &:hover {
      color: $sherpa-brand-primary;
    }

  }

  .navbar-sherpa .navbar-nav > .active > a {
    color: $white;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    text-align: center;
  }
}

#sub-footer {
  padding: 32px 0;
  text-align: center;
  background: #fff;
  color: #263238;
  font-size: 16px;
  .agi-logo {
    margin-left: 0.5em;
  }

  ul.social-media {
    margin: 0 0 0 0;
    a {
      color: $dark-blue;
      &:hover {
        color: $sherpa-brand-primary;
      }
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    background: #23303F;

    ul.social-media {
      a {
        color: #23303F;
      }
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    text-align: left;
    .col-md-12 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}


@media screen and (max-width: $screen-sm-max) {

  #sub-footer {
    background: #fff;
    color: #263238;
    font-size: 10px;
    padding: 1em 0;

    img {
      width: 24px;
      height: 24px;
    }
  }

  #footer {
    padding: 1em 0;

    a {
      width: auto;
    }

    #map-section {
      max-height: 120px;
    }

    span.title {
      margin: 0 0 1em 0;
    }

    .navbar-brand {
      img {
        margin: 0 auto;
        max-height: 94px;
      }
    }

    @media screen and (max-width: $grid-float-breakpoint-max) {
      padding-bottom: 0;

      

      .navbar-brand {
        position: relative !important;
        margin-bottom: 20px;

        img {
          max-height: 97px;
        }
      }
    }
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {
 
}


@media screen and (max-width: $grid-float-breakpoint-max) {
  #footer {
    
    a {
      display: block;
    }

    .btn {
      font-size: 10px;
      padding: 12px 12px;
      font-size: 6px;
    }
    
    .btn-border {
      margin: 0 0 2em;
      background: #008BF2;
      border: 0;
    }

    .social-media-button {
      color: #fff;

      &:hover {
        color: $sherpa-brand-primary !important;
      }
    }
  }
}

