// This is for creating extra buttons
// Mixin for creating additional buttons:
//      button-variant($color, $background, $border)


.btn { 
  padding: 32px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  border-radius: 50px;

  &.btn-default {
    &:hover {
      background: rgba(36,40,45,0.8);
      border-color: rgba(36,40,45,0.8);
    }
  }

  &.btn-register {
    padding: 24px 31px;
  }
}


.btn-read-more {
  &.btn-border {
    color: $sherpa-brand-primary;

    &:hover {
      color: $white;
    }
  }
}