.flex-col {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  .flex-row {
    flex-direction: column;
  }
}


.bg-dark {
  background: #222222;
  color: #fff;
  padding: 4em 0;

  h2 {
    color: #fff;
    span.highlight {
      color: #00C9CE;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    text-align: center;

    p {
      text-align: center;
    }
  }
}

.icon-row {
  padding: 44px 0;
  background: #F8F8F8;
  

  .col-md-3 {
    display: flex;
    justify-content: center;
  }

  .flex-row {
    display: flex;
    margin-bottom: 33px;

    .col-md-4 {
      flex: 1;
    }

    &.no-margin {
      margin: 0;
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    color: #61666B;
    font-family: 'Raleway', sans-serif;

    svg path {
      fill: $sherpa-brand-primary;
    }

    &:hover {
      text-decoration: none;

      svg path {
        fill: #fff;
      }

      .title {
        position: relative;
      }

      svg path {
        fill: #fff;
      }
    }
    
      &:hover {
      .title {
        color: $sherpa-brand-primary;
      }
    }
  }

  .title {
    color: #61666B;
    text-decoration: none;
    padding: 14px 0;
    max-width: 65%;
    margin: 0 auto;
  }

  

  svg {
    height: 50px;
    margin: 0 auto;
  }

  .col-xs-4 {
    padding: 0 0;
  }

  @media screen and (max-width: $screen-sm-max) {
    margin: 0 0;
    padding: 0;

    .title {
      max-width: 80%;
    }

    svg {
      max-height: 20px;
    }

    .container {
      padding: 0 0;
    }

    .container-fluid {
      padding: 0 0;
    }

    a {
      padding: 20px 0 0;
    }

    svg {
      margin: 0 0;
    }

    .flex-row {
      width: 100%;
      flex-wrap: wrap;
      margin: 0 0;
      flex-direction: row;

      .col-md-4 {
        flex: 0 auto;
        border-left: 0;
        border-bottom: 1px solid #fff;

        a {
          border-left: 0;
        }

        &:nth-child(even) {
          border-left: 1px solid #fff;
        }

        .title {
          background: transparent;
          padding-bottom: 23px;

          &:after {
            top: auto;
            bottom: 0;
          }
        }
      }
    }

    .col-xs-12 {
      padding-left: 0;
      padding-right: 0;
    }

    .title {
      font-size: 14px;
      padding-top: 0;
    }

    svg {
      height: 30px;
    }

    .col-md-3 {
      flex-direction: column;
      padding-left: 0 !important;
      padding-right: 0 !important;

      a:hover::after {
        bottom: 42px;
      }
    }
  }
}

.waypoint {
  $transition: all 0.4s ease-in-out;

  .fade-down {
    transition: all 1s ease-in-out;
    transform: translateY(-50%);
    opacity: 0;
    display: block;
  }

  &.active {
    .fade-down {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

#main-content {
  padding: 6em 0;

  h2 {
    color: #041C3F;
    font-weight: 600;
    margin-bottom: 0;
  }

  h3 {
    color: #525659;
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }

  p {
    font-size: 17px;
  }

  .text-center {
    margin-bottom: 3em;
    p.blurb {
      margin-bottom: 0;
    }
  }

  .col-md-6 {
    p.blurb {
      margin-bottom: 2em;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 3em 0 1em;
    background: #F2F2F2;

    p {
      text-align: center;
    }

    .text-center {
      margin-bottom: 0;

      img {
        margin-top: 2em;
      }
    }
  }
}

.brand-color {
  color: #0D4634;
}

.form-group label input {
  text-indent: 1em;
}

.form-group label span.wpcf7-form-control-wrap:before {
  content: "|";
  position: absolute;
  left: 1em;
  top: -1px;
  font-weight: 300;
  vertical-align: middle;
}

.spanish-link,
.jumbotron .wpml-ls-statics-shortcode_actions {
  position: absolute;
  left: 15px;
  top: 20px;
  color: $white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;

  a {
    color: $white;
  }

  @media screen and (min-width: $screen-sm-min) {
    display: none !important;
  }
}

h2.line {
  font-family: 'Montserrat', sans-serif;
  font-size: 41px;

  &:after {
    border-bottom: 3px solid $sherpa-brand-primary;
    width: 60px;
    content: '';
    display: block;
    height: 3px;
    margin: 14px 0 30px;
  } 
}


.bg-rectangle {
  &::after {
    background: rgba(254, 241, 2, 0.7);
    width: 786px;
    height: 258px;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -70px;
    opacity: 0.5;
  }

  img {
    z-index: 1;
    position: relative;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
  }

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    &:after {
      right: -400px;
      left: auto;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    text-align: center;

    &:after {
      width: 301px;
      height: 99px;
      left: 50% !important;
      transform: translateX(-50%) translateY(-50%);
    }

    img {
      max-height: 200px;
      margin: 0 auto;
    }
  }
}

.padding-top {
  justify-content: flex-start;
}

.left-home-sidebar {

  h2 {

    span {
      color: #1E242D;
    }
  }

  h2 {
    font-weight: 300 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }

  .serif-text {
    color: #8C9BA8;
  }

  p {
    margin-bottom: 2em;
    font-size: 18px;
    font-weight: 300;
  }


  @media screen and (min-width: $screen-sm-min) {

    ul.serif-text {
      
      li { 
        font-size: 22px;
        margin-bottom: 0.25em !important;
      }
    }

    h2 {
      margin-bottom: 2em;
      line-height: 1.25;
      font-size: 41px; 

      span {
        display: block;
      }
    }

    h3 {
      margin-bottom: 1em;
      font-size: 26px;
      line-height: 1.5;
      color: #777B7F;
    }

    p.blurb {
      font-size: 25px;
      font-weight: 400;
      line-height: 1.5;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 40px;
      color: #8F9699;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    text-align: center;
    padding-top: 30px;

    h2, h3 {
      font-size: 18px;
      line-height: 1.5;
    }
  }
}


.banner-bottom {
  background-size: cover;

}

#services-bubbles {
  svg {
    height: 44px;
  }

  .circle {
    width: 381px;
    height: auto;
    align-self: center;
  }

  .circle-container {
    position: relative;

    @media screen and (min-width: $screen-lg-min) {
      &::before {
        border-left: 2px solid #E4EAEF;
        display: block;
        content: '';
        height: 216px;
        width: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -62px;
      }
    }

    &.right {
      &::before {
        left: auto;
        right: -62px;
      }
    }
  }

  .icon-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h4 {
    font-size: 26px;
    color: #777B7F;
    margin-bottom: 35px;
  }

  p {
    margin-bottom: 35px;
    font-weight: 300;
  }

  @media screen and (min-width: $screen-sm-min) {

   p {
     font-size: 19px;
     line-height: 1.25;
   }

   h4 {
     margin-bottom: 1em;
   }

   .flex-row {
     padding-top: 80px;
     padding-bottom: 30px;
   }

    .icon-content {
      padding: 0 20px 0 0;
    }

    .right.icon-content {
      padding: 0 0 0 20px;
    }

    .circle-column {
      align-items: flex-end;
      justify-content: flex-end;

      &.right {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {

    .btn {
      width: 190px;
      padding: 20px 40px;
    }

     .icon-content div {
       overflow: auto;
       
        &:after {
          border-bottom: 2px solid #E4EAEF;
          margin: 40px 0 20px;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
        }
      }

    .icon-content.broken-bone div {

      &:after {
        display: none;
      }
    }

      

    h4 {
      font-size: 20px;
      margin-bottom: 30px;
    }

    .flex-row {
      display: flex;

      .flex-col {
        order: -1;
      }

      .circle-container {
        &:before {
          display: none;
        }
      }

      .circle {
        width: 141px;
        height: 141px;
      }

      .icon-content {
        padding: 25px 35px;
      }

      p {
        display: none;
      }

      svg {
        display: none;
      }
    }
  }
}

#logos {
  background: $white;
  padding: 40px 0;

  .flex-row .flex-col {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    
    .flex-col {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      img {
        max-height: 35px;
        margin: 0 auto 20px;
      }

      .img-col {
        width: 33%;
      }
    }
  }
}

.contact-banner {
  h4 {
    color: $white;
    font-size: 20px;
  }
  margin-top: -70px;
  background: #24282D;
  z-index: 6;
  position: absolute;
  width: 100%;
  padding: 14px 0;

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 20px 0;
    text-align: center;

    h4 {
      font-size: 15px;
    }
  }

  .angled {
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
    clip-path: polygon(0 100%, 0 0, 100% 100%);
  }
}

#bottom-section {
  background: #ED511B;
  color: $white;
  padding: 100px 0 75px;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: $screen-md-min) {
    padding: 120px 0;
  }

  .serif-text {
    position: absolute;
    color: $white;
    background: #24282D;
  }

  h2 {
    font-size: 41px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 0;
  }

  p {
    font-size: 19px;
    font-weight: 300;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    text-align: center; 
    padding-top: 0;

    h2.line {
      font-weight: 300;
      font-size: 23px;
      margin-top: 40px;
      line-height: 1.5;
      margin-left: 40px;
      margin-right: 40px;

      &:after {
        margin: 18px auto;
        width: 33px;
      }
    }

    p {
      font-weight: 300;
      font-size: 15px;
      padding-left: 44px;
      padding-right:  44px;
      line-height: 1.5;
    }
  }
}

#floating-section {
  overflow: hidden;

  .shadow {
    background: #EDEDED;
    width: 100%;

    p {
      color: #666666;
    }
  }

  .right-home-sidebar {
    .sidbar-bottom {
      padding: 80px 50px;
    } 

    h2 {
      &:after {
        margin: 20px auto 0;
      }
    }
  }
}


.right-home-sidebar {
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;

  .shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    background: #24282D;
    color: $white;
    padding: 0;
    width: 440px;
    display: flex;
    flex-direction: column;
  }

  .sidebar-top {
    background: url('../img/sidebar-top.jpg') 0 0 no-repeat;
    background-size: cover;
    min-height: 361px;
    width: 100%;
  }


  .sidebar-bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    p {
      margin-bottom: 20px !important;
      font-weight: 300;
      font-size: 14px;
    }

    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
       height: auto;
    }

  } 

    

 

  h4 {
    color: $white;
    font-weight: 300;
    font-size: 41px;
    font-family: 'Montserrat', sans-serif;

    &:after {
      border-bottom: 4px solid $sherpa-brand-primary;
      content: '';
      width: 60px;
      display: block;
      margin: 1em auto .25em;
    }
  }

  strong {
    color: $sherpa-brand-primary !important;
    font-size: 19px;
  }

  @media screen and (min-width: $screen-md-min) {
    .sidebar-bottom {
        padding-top: 50px;
        padding-bottom: 35px;
        
        .expand-sidebar {
          display: block !important;
        }

        h4 {
          &::after {
            margin: .5em auto .25em;
          }
        }
    }

    &.truck-header {
      .sidebar-bottom {
        padding-top: 60px;
      }
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    box-shadow: none;
    flex-direction: row;
    padding-bottom: 3.5em;
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
    position: relative;

    .sidebar-top {
      min-height: 140px;
      background-position: center center;
    }


    &.truck-header .shadow {
      margin-left: 35px;
      margin-right: 35px; 

      h2.line {
        margin-top: 35px !important;
      }

      p.serif-text {
        margin-bottom: 12px !important;
        line-height: 1.75;
      }

      p {
        font-size: 15px;
        margin-bottom: 0;
        line-height: 1.5;
      }

      .sidebar-top {
        min-height: 185px;
      }

      .sidebar-bottom {
         padding: 40px 34px 20px;
      }
    }

    .shadow {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0;

      .box {
        width: 50%;
        height: 112px;
        font-size: 10px;

        .title {
          font-size: 12px;
        }

        &:first-child {
          margin-right: 10px;
        }

        &.box-top {
          padding: 0 0;
          align-items: center;

          .price {
            font-size: 27px;
            margin-top: auto;
          }
        }

        &.box-bottom {
          margin-top: 0;
        }

        .bottom {
          margin: auto 0 0;
          padding: 1.5em;
          width: 100%;
        }
      }
    }

    .bottom {
      font-size: 10px;
    }

    h3 {
      font-size: 16px;
      line-height: 1.5;
      margin-top: 0;
    }

    h4 {
      margin-top: 4em;
    }

    > div {

      h4 {
        font-size: 18px;
        background: #24282D;
        color: $white !important;
        padding: 28px 26px 28px;
        margin: 0 0;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        &.expander {
          text-align: left;
        }


        &.expander::after {
          @include svg-arrow($sherpa-brand-primary);
          content: '';
          display: block;
          width: 17px;
          height: 10px;
          position: absolute;
          right: 0; 
          border: 0;
          margin: 0;
          margin-right: 26px;
          top: 50%;
          transform: translateY(-50%);
        }

        &.expanded {
          &:after {
            transform: translateY(-50%) scaleY(-1) !important;
          }
        }
      }

      text-align: center;
      padding-bottom: 33px;
      padding-top: 20px;

      a {
        display: block;
      }
    }
  }
}

.flex-row {
  display: flex;
  justify-content: center;

  .flex-col {
    display: flex;
    flex-direction: column;
    //justify-content: center;
  }
}


@media screen and (max-width: $screen-sm-min) {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 14px;
  }


}



@media screen and (max-width: $grid-float-breakpoint-max) {
  .flex-section {
    display: flex;
    flex-direction: column-reverse;
  }

  body {
    background: none;
  }

  .about-header {
    margin-top: 0;
    margin-bottom: 0;
  }


  #header {
    padding-top: 1.5em;
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  p.blurb {
    font-size: 15px;
  }

  p {
    font-size: 15px;
    margin-bottom: 3em;
  }

  h2.header-spaced {
    font-size: 20px;
    font-weight: 600;
  }

  body #main .bg-gray p.blurb {
    font-size: 18px;
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  .extra-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}



@media screen and (max-width: $grid-float-breakpoint-max) {
  .expand {
    display: none;

    &.active {
      display: block;
    }
  }
}