
body {
  background: #fff;

  &.blog #main, &.post-template-default #main {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4em;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    .flex-order {
      display: flex;
      flex-direction: column;

      .container-fluid {
        width: 100%;
      }

      .xs-order-1 {
        order: -1;
      }

      .xs-order-2 {
        order: -1;
      }

      .xs-order-3 {
        order: 0;
      }
    }
  }

  .edit-screen {
    position: absolute;
    width: 480px;
    left: 0;
    top: 46px;
    z-index: 99;
    //background-image: url("../img/test-inside.png");
    // background-image: url("../img/test.png");
    // background-image: url("../img/mobile-test.jpg");
    background-repeat: no-repeat;
    background-size: 480px auto;
    opacity: 0.5;
  }

  .testimonials-widget {
    .btn {
      width: 148px;
    }
  }

  #main {
    .container {

      article {

        h1 {
          font-family: 'Raleway', sans-serif;
          font-weight: 400;
          font-size: 37px;
        }

        h2, h3, p.blurb {
          font-family: 'Raleway', sans-serif;
        }

        p.blurb {
          color: #8F9699;
          font-weight: 500;
        }

        h3 {
          
          line-height: 1.5;

          ul {
            line-height: 1;


            li strong {
              color: #8C9BA8 !important;
              font-style: normal;
              font-weight: 400;
              font-size: 22px;
            }

            li {
              font-size: 22px;
              margin-bottom: 0.75em;
              text-align: left !important;

              &::before {
                display: none;
              }
            }
          }
        }

        ul {
          padding-left: 2em;

          li strong {
            color: #ED511B;
            font-style: italic;
            font-weight: 500;
          }
        }

        @media screen and (max-width: $grid-float-breakpoint-max) {

          h3 ul li {
            text-align: center;
          }

          h3 ul li strong {
            font-size: 14px !important;
          }

          h3 ul li {
            margin-bottom: 0.5em;
          }
        }

        .products {
          max-width: 50%;

          @media screen and (max-width: $screen-md-min) {
            .flex-row {
              flex-direction: column;

              .product-text {
                border-left: 0;
                padding-left: 0;
                padding-top: 1em;
              }
            }
          }

          @media screen and (max-width: $grid-float-breakpoint-max) {
            max-width: 100%;

            .product {
              margin-bottom: 50px;

              .product-text {
                border-left: 0;
                padding-left: 0;
              }
            }
          }
        }

        .product {
          display: flex;
          margin-bottom: 110px;

          .product-img {
            text-align: center;
            display: flex;
            align-items: center;

            img {
              margin: 0 auto;
              max-height: 230px;
            }
          }

          .flex-col {
            align-items: flex-start;
            flex: 1;
          }

          .product-text {
            border-left: 1px solid #D9D9D9;
            padding-left: 60px;
            flex: 1;
          }

          strong {
            font-weight: 400;
          }

          img {
            max-width: 100%;
          }

          h2 {
            margin-bottom: .5em;
          }

          strong {
            color: #ED511B;
          }

          p {
            margin-bottom: 1em;
          }

          ul li {
            padding-left: 1em;

            &:before {
              content: '';
              border-radius: 50%;
              border: 1px solid #ED511B;
              background: #ED511B;
              width: 4px;
              height: 4px;
              margin-right: 11px;
              line-height: 1em;
              display: inline-block;
              vertical-align: middle;
              margin-left: 0;
              transform: none;
              left: 0;
              transform: translateY(-50%);
              top: 50%;
            }
          }
        }

        .page-bottom {
          padding-top: 2em;

          @media screen and (max-width: $grid-float-breakpoint-max) {
            padding-top: 0;
          }
        }

        .banner-bottom {
          clear: both;
          position: relative;
          background: url('../img/bg-banner.jpg') 0 0 no-repeat;          background-size: cover;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          height: 254px;
          font-size: 1.5em;
          text-align: center;
          margin-top: 2em;

          p {
            position: relative;
            display: block;
            font-size: 31px;
            font-weight: 400;
          }

          a {
            display: block;
            padding: 18px 0 0;

            .btn {
              padding: 18px; 
              font-size: 8px;
            }
          }

          &::before {
            background: rgba(0, 0, 0, 0.29);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            content: '';
          }

          strong {
            color: $white;
          }

          span {
            color: $sherpa-brand-primary;
          }

          p {
            margin: 0 0;
            font-family: 'Montserrat', sans-serif;
            line-height: 1.5em;
          }

          .diamond-bg {
            width: 270px;
            position: absolute;
            right: 23px;
            top: -28px;
          }

          p {
            font-size: 25px;
          }

          .btn-success {
            background: #1E242D;
            padding: 20px 50px;
            margin-left: 35px;
            color: $white;
            font-family: 'Montserrat', sans-serif;
            -webkit-box-shadow: 0px 0px 34px 12px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 0px 34px 12px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 34px 12px rgba(0, 0, 0, 0.4);
            border: 0;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            position: relative;
            z-index: 1;
            overflow: hidden;

            &:after {
              content: '';
              position: absolute;
              z-index: -1;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              transition: all 0.3s;
              width: 100%;
              height: 0;
              top: 50%;
              left: 50%;
              background: #0036A7;
              opacity: 0;
              -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
              -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
              -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
              transform: translateX(-50%) translateY(-50%) rotate(45deg);
            }

            &:hover {
              color: $white;
              text-decoration: none;

              &:after {
                height: 360%;
                width: 200%;
                opacity: 1;
              }
            }
          }

          @media screen and (max-width: $screen-sm-max) {

            .diamond-container {
              width: 429px;
              height: 100%;
              position: relative;
              left: 0;
            }

            p {
              margin-left: 41px;
            }

            .btn-success {
              margin-left: 0;
            }
          }

          @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            a {
              clear: both;
              display: block;
            }
          }

          @media screen and (min-width: $screen-md-min) {
            .diamond-container {
              width: 429px;
              height: 100%;
              position: relative;
              left: 0;
            }

            .btn-success {
              margin-left: 0;
            }
          }

          @media screen and (min-width: $screen-lg-min) {

            .btn-success {
              margin-left: 35px;
            }
          }

          @media screen and (max-width: $grid-float-breakpoint-max) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: auto;
            max-height: 100%;
            padding-bottom: 45px;
            padding-top: 45px;
            margin-bottom: 35px;

            .diamond-bg {
              width: 50%;
              position: relative;
              left: 50%;
              transform: translateX(-50%);
            }

            a {
              display: block;
            }

            p {
              margin-left: 0;
              text-align: center;
              font-size: 16px;
            }

            .btn-success {
              margin-top: 20px;
              margin-left: 0;
              font-size: 12px;
              padding: 10px 17px;
            }
          }
        }

        h1 {
          margin-bottom: 1.55em;
        }

        min-height: 10em;
        padding: 0 0 3em;

        .column {
          float: left;
        }

        .blurb {
          font-size: 22px;
          margin-bottom: 2em;
          font-weight: 300;
          line-height: 1.5;
        }
      }

      strong.header {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 0;
        display: block;
        color: $purple;
        font-family: 'Raleway', sans-serif;
      }

      .flex-row strong.header {
        margin-bottom: 0;
      }

      h2 {
        font-size: 23px;
      }

      ul, ol {
        margin-bottom: 3em;
        margin-left: 0;
      }

      h2 {
        margin-bottom: 1em;
      }
      
      ul li {
        margin-bottom: 1em;
        position: relative;
      }

      h3 ul li {
        &::before {
          content: "";
          display: none;
        }
      }

      h2, h3 {
        color: $purple;
        font-size: 23px;
        font-weight: 400; 
        letter-spacing: 1px;
        margin-bottom: 2em;

        @media screen and (max-width: $grid-float-breakpoint-max) {
          &.expander {
            margin-bottom: 0;
          }
        }
      }

      .page-content h2 {
        margin-top: 0;
      }

      @media screen and (min-width: $screen-sm-min) {

        article {

          .map-container {
            width: 50%;
          }


          p {
            margin-bottom: 3em;
          }

          p,
          ul {
            font-size: 16px;
          }

          .contact-info p {
            font-size: 14px;
            margin: 0.75em 0;
            color: #606060;
          }
        }
      }
    }
  }
}

body #main {

  article p.no-margin {
    margin-bottom: 1.2em;
  }

  article ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 3em;
    margin-left: 1em;
  }

  .page-top {
    background: #F2F2F2;
    text-align: center;
    padding: 3em 0;

    @media screen and (min-width: $screen-md-min) {
      padding: 5.5em 0;

      h2 {
        line-height: 1.8;
        margin-top: 0;
        padding-left: 100px;
        padding-right: 100px;
      }

      p {
        line-height: 2;
        font-size: 19px;
      }

      p.blurb {
        line-height: 1.5;
        font-size: 25px;
        margin-bottom: 0;
      }
    }

    h2 {
      color: #7A7A7A;
    }

    p {
      color: #7A7A7A;
    }

    .container {
      p.blurb {
        margin-bottom: 1em;
      }
    }
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {

  .page-template-default, .blog, .error-404, .post-template-default {
    #header {
      position: relative;
    }
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  #sidebar {
    order: 2;
  }

  .map-container {
    width: 100%;
  }

  body #main .container article {
    padding-bottom: 0;
  }
}

@media screen and (max-width: $screen-sm-max) {
  body #main .container .flex-wrap article {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: $screen-sm-min) {
  body #main .container .flex-wrap article {
    padding-left: 2em;

    &:first-child {
      padding-left: 0;
    }
  }
}

.floating-social ul.social-media {
  position: fixed;
  left: 0;
  top: 200px;
  background: $brand-success;
  padding: 30px 20px;

  li {
    display: block;
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }

  .fa-fw {
    font-size: 22px;
    width: 20px;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    display: none;
  }
}

.pop-in {
  transform: scale(0);
  transition: all 0.5s ease;
}

.rotateY {
  transform: rotate(90deg) scaleX(-1);
}

.active {

  .pop-in {
    transform: scale(1);
  }

  .rotateY {
    transform: rotate(90deg) scaleX(1);
  }
}

.no-js {
  .pop-in {
    transform: scale(1);
  }

  .rotateY {
    transform: rotate(90deg) scaleX(1);
  }

  .fade-down {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: $screen-md-min) {
  .two-column {
    column-count: 2;
  }
}