.home-module-3 {
  padding: 100px 0;

  h2 {
    color: $purple;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2em;
  }

  p {
    line-height: 1.75;
    margin-bottom: 2em;
    font-size: 17px;
  }

  p.blurb {
    color: $purple;
    font-size: 25px;
    line-height: 1.75;
    margin-bottom: 1.75em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

  .extra-padding {
    padding-left: 83px;
  }

  .img-responsive {
    text-align: center;
  }

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      .extra-padding {
        padding-left: 0;
        text-align: center;
      }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 20px 0;
    text-align: center;

    p {
      line-height: 2em;
    }

    img {
      margin: 0 auto;
    }

    h2 {
      font-size: 19px;
      margin-top: 2em !important;
      margin-bottom: 1.25em;
    }

    .extra-padding {
      padding-left: 20px;
    }

    p {
      font-size: 14px;
      color: #848483;
    }

    p.blurb {
      font-size: 18px;
    }
  }
}